[submodule "cmake/helpers"]
	path = cmake/helpers
	url = https://github.com/craftablescience/cmake-helpers
[submodule "ext/argparse"]
	path = ext/argparse
	url = https://github.com/p-ranav/argparse
[submodule "ext/sourcepp"]
	path = ext/sourcepp
	url = https://github.com/craftablescience/sourcepp
